/*Contact Section*/

.contact{
	padding:80px 0px;
	background-color: #222222;
}

.contact .content{
	-webkit-display: flex;
	display: flex;
}

.contact .content .contactTable{
	flex:0 0 50%;
	max-width: 50%;
	padding: 15px;
}

.contact .content .contactTable input,
.contact .content .contactTable textarea{
 height: 45px;
 width: 100%;
 padding:6px 12px;
 margin-bottom: 25px;
 background-color: transparent;
 border:1px solid #ffffff;
 font-family: 'Open-sans',sans-serif;
 color:#ffffff;
}
.contact .content .contactTable input:focus,
.contact .content .contactTable textarea:focus{
 outline: none;
}
.contact .content .contactTable input::placeholder,
.contact .content .contactTable textarea::placeholder{
	color:#ffffff;
}
.contact .content .contactTable textarea{
	height: 100px;
}

.contact .content .contactTable button{
	border:none;
	outline: none;
	box-shadow: none;
	height: 45px;
	padding:0px 50px;
	border:1px solid transparent;
	background-color: #c11325;
	color:#ffffff;
	font-size: 15px;
	transition: all .5s ease;
	cursor: pointer;
}
.contact .content .contactTable button:hover{
	background-color:transparent;
	color:#ffffff; 
    border-color:#ffffff;
}

.contact .content .contactDetails h2{
	font-size: 30px;
    font-weight: 500;
    color: #c11325;
    padding: 10px 40px 20px;
}

.contact .content .contactDetails .Info ul{
	list-style: none;
	padding:0;
	margin:0;
}

.contact .content .contactDetails .Info li{
	display: block;
	margin-bottom: 15px;
	color:#ffffff;
	font-size: 15px;
	letter-spacing: 1px;
	position: relative;
	padding-left: 40px;
	font-family: 'Open-Sans',sans-serif;
}
.contact .content .contactDetails .Info li span{
	display: inline-block;
	position: absolute;
	left:0px;
	top:0px;
	font-size: 20px;
	color:#c11325;
}
.contact .content .contactDetails .socialMedia {
    padding: 10px 40px 20px;
}
.contact .content .contactDetails .socialMedia a{
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #c11325;
    text-decoration: none;	
    display: inline-block;
    margin-right: 10px;
    transition: all .5s ease;
    border:1px solid transparent;
} 

.contact .content .contactDetails .socialMedia a:hover{
	background-color: transparent;
    border-color: #ffffff;
}

.contact .content .contactDetails .socialMedia a span{
	color:#ffffff;
	font-size: 20px;
}


