.packages{

	padding:80px 0px 50px;
	background-color: #ffffff;
}

.packages h2{
	font-size: 30px;
	font-weight: 500;
	color:#000000;
	padding: 0px 0px 20px;
	text-align: center;
}

.packages .packagesTitle{
 font-size: 15px;
 line-height: 20px;
 color:#222222;
 margin:0;
 text-align: center;
 padding:0 20% 50px;
 font-family: 'Open-sans', sans-serif;
}

.packages .packagesContent{
	-webkit-display: flex;
	display: flex;
}

.packages .packagesContent .packageBox{
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding: 15px;
}

.packages .packagesContent .packageBox .package{
	
	background-color: #f0f0f0;
}

.packages .packagesContent .packageBox .package .package_PriceTag{
	padding: 15px;
	font-size: 20px;
	background-color: #c11325;
	color:#ffffff;
	text-align: center;
	font-weight: 700;
}

.packages .packagesContent .packageBox .package .package_Txt{
	padding:30px 15px;
	text-align: center;
}

.packages .packagesContent .packageBox .package .package_Txt h3{
    font-size: 24px;
	color:#222222;
	margin:0;
	padding:0px 0px 20px;
	font-weight: 700;
}

.packages .packagesContent .packageBox .package .package_Txt p{
     font-size: 15px;
     line-height: 20px;
     color:#222222;
     margin:0;
     text-align: center;
     padding:0 0 5px;
     font-family: 'Open-sans', sans-serif;
}

.packages .packagesContent .packageBox .package .package_Txt .Btn{
    padding: 8px 30px;
    background-color: #c11325;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    margin-top: 10px;
}

.packages .packagesContent .packageBox .package .package_Txt .Btn:hover{
    border-color:#222222;
	color:#222222;
	background-color: transparent;
}

.packages .packagesContent .packageBox .package .package_Img img{
	width: 100%;
}